<p id="notice"><%= notice %></p>
<%= link_to 'Home', books_path %> |
<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Noofbooks:</strong>
  <%= @user.noOfBooks %>
</p>

<%= link_to 'Home', books_path %> |
<%= link_to 'Edit this Author', edit_user_path(@user) %> |
<%= link_to 'All Authors', users_path %>
