<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: :book_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :book_user_id %>
  </div>

  <div class="field">
    <%= form.label :published_at %>
    <%= form.datetime_select :published_at, id: :book_published_at %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract, id: :book_abstract %>
  </div>

  <div class="field">
    <%= form.label :noOfPages %>
    <%= form.number_field :noOfPages, id: :book_noOfPages %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
