<p id="notice"><%= notice %></p>

<h1>Order a Book</h1>
<h3>This is a simple and convenient way to buy or sell books online!</h3>
	<% if logged_in? %>
    <% @users.each do |user| %>

        <h2><%=link_to user.name, user_path(user)%></h2>

        <% user.books.each do |book|%>
          <table>
            <tr><td><%= link_to book.abstract, book_path(book)%></td></tr>
          </table>
        <%end%>
    <% end %>


<%= link_to 'Add a Book to the Database', new_book_path %><br>
<%= link_to 'Create a new Author', new_user_path %>
