<p id="notice"><%= notice %></p>

<p>
  <strong>Author: </strong>
  <%= @book.user.name %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @book.abstract %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Number of Pages:</strong>
  <%= @book.noOfPages %>
</p>

<%= link_to 'Edit this book', edit_book_path(@book) %> |
<%= link_to 'Overview', books_path %>
